#editor {
    position: relative;
    display: block;
    color: black;
}

#editor > #pdfviewer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#editor > #overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(236, 72, 153, 0.2);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.widget {
    border: 1px solid red;
    background:rgba(236, 72, 153, 0.2)
}

.widget>.context-menu {
    position: absolute;
    top: -16px;
    right: -1px;
    height: 15px;
    z-index: 100000;
}
.widget>.context-menu > .pi:hover {
    background: #eee;
}
.widget > .context-menu > .pi {
    float: left;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
    font-size: 12px;
    background: white;
}
.widget>.context-menu>.pi.pi-trash {
    color: red;
}
.widget>.context-menu>.pi.pi-file-edit {
    color: green;
}

.widget>.sign-menu {
    display: block;
    position: absolute;
    top: -3px;
    right: -16px;
    width: 20px;
    height: 20px;
    margin-top: 0px;
    font-size: 15px;
    z-index: 1000;
}

.widget>.sign-menu .pi {
    color: #000;
    background: #fff;
    padding: 2px;
    cursor: pointer;
}

.widget>.sign-menu .pi:hover {
    background: #000;
    color: #fff;
}

.widget-is-valid-true {
    border: 1px solid green;
    background: rgba(34, 197, 94, 0.2)
}
.widget-is-valid-false {
    border: 1px solid red;
    background: rgba(236, 72, 153, 0.2)
}

.widget-text {}
.widget-signature {}