#editor {
    position: relative;
    display: block;
}

#editor > #pdfviewer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#editor > #overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(236, 72, 153, 0.2);
    z-index: 2;
    width: 100%;
    height: 100%;
}



.widget {
    border: 1px solid red;
    background:rgba(236, 72, 153, 0.2)
}
.widget-is-valid-true {
    border: 1px solid green;
    background: rgba(34, 197, 94, 0.2)
}
.widget-is-valid-false {
    border: 1px solid red;
    background: rgba(236, 72, 153, 0.2)
}

.widget-text {}